<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header('홈')"></head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper" th:replace="fragment/base::setContent(~{::content}, ~{::sidebar})">

        <!-- Sidebar -->
        <th:block th:fragment="sidebar">
            <th:block th:replace="fragment/side::side"></th:block>
        </th:block>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <th:block th:fragment="content">
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <!-- Topbar -->
                    <th:block th:replace="fragment/search::search"></th:block>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">This is Sangwoo's Home</h1>
                        </div>
                    </div>
                    <!-- /.container-fluid -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-12 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="row">
                                    <div class="col-lg-6 mb-4">
                                        <div class="card bg-warning text-white shadow">
                                            <div class="card-body text-center m-2">
                                                <a th:href="@{/profile/login}">Login</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-4">
                                        <div class="card bg-danger text-white shadow">
                                            <div class="card-body text-center m-2">
                                                <a th:href="@{/profile/signup}">Signup</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <th:block th:replace="fragment/base::setBottom(~{::bottom})">
        <th:block th:fragment="bottom">
            <th:block th:replace="fragment/bottom::bottom"></th:block>
        </th:block>
    </th:block>
</body>
</html>